    <div class="container-fluid">
      <div class="row-fluid">
      <%== erb :sidebar, :layout => false %>
        <div class="span9">
          <div class="hero-unit">
            <h2>NoPaste!!</h2>
              <% unless @session[:username].nil? %>
              <form action="<%= uri_for('/post') %>" method="post">
                <div class="control-group <% !@errors.nil? ? 'error' : '' %>">
                  <textarea style="width: 90%; height: 300px;" name="content"></textarea>
                <% if false %>
                [% FOR error IN errors.content.keys() %]
                <span class="help-inline">
                  [% SWITCH error %]
                  [% CASE "NOT_NULL" %]Required
                  [% END %]
                </span>
                [% END %]
                <% end %>
                </div>
                <div class="control-group">
                  <input type="submit" value="post" class="btn btn-primary">
                </div>
              </form>
              <% else %>
                <p>
                  <a class="btn btn-primary" href="<%= uri_for('/signin') %>">Please sign in</a>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
